.App {
  text-align: center;
  background-color: #F7E8DE;
  min-height: 100vh;
}
.App-logo-loader {
  height: 40vmin;
  pointer-events: none;
}
.App-loader {
  background-color: #F7E8DE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img{
  width: 300px;
  height: fit-content;
}
#twitch-chat-embed{
    position: fixed;
    right: 25px;
    top:65px;
}
.twitch .twitch-video {
    padding-top: 56.25%;
    position: relative;
    height: 0;
}

.twitch .twitch-video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.twitch .twitch-chat {
    height: 400px;
}

.twitch .twitch-chat iframe {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 850px) {
    .twitch {
        position: relative;
        margin-bottom: 50px;
    }

    .twitch .twitch-video {
        padding-top: 23.1875%;
        width: 40%;
        display: block;
        margin: auto;
    }

    .twitch .twitch-chat {
        bottom: 0;
        height: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 30%;
    }
}
