.App {
  text-align: center;
  background-color: #F7E8DE;
  min-height: 100vh;
}
.App-logo-loader {
  height: 40vmin;
  pointer-events: none;
}
.App-loader {
  background-color: #F7E8DE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img{
  width: 300px;
  height: fit-content;
}
